@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* GERAL*/
*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
:root{
    ----background-color----:#1E192C;
    ----container-border-----:#ffffff;
    ----text-color----:#ffffff;
    ----text-color-hover:#179898;    
}
img{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border: 3px solid var(----text-color----);
    margin-top: 30px;
}
.information{
 max-width: 348px;
}
body{
   background: var(----background-color----);
   font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
/*Profile*/
.profile{
    border: 1px solid #ffffff;
    border-radius: 4px;
    max-width: 348px;
    margin: 40px;
    text-align: center;
    color: var(----text-color----);
   
}


/*links*/
.links{
    border-radius: 4px;
    border: 1px solid #ffffff;
    margin: 40px;
    height: 160px;
    padding: 20px 30px;
    color: var(----text-color----);
    padding-right: 20px;
   
}
.links i{
    margin-bottom: 10px;
    display: flex;
  
}
.links a{
    margin-top: 4px;
    position: absolute;
    margin-left: 25px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: var(----text-color----);
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
}
/*techs*/

.techs{
   display: flex;
    border: 1px solid #ffffff; 
    margin: 40px;
    height: 180px;
    border-radius: 4px;

}
.techs li{
  
    width: 99px;
    height: 24px;
    margin-bottom: 10px;
    padding-right: 35px;
    border-radius: 4px;
    background-color: #E4105D;
  
}
.techs ul{
    margin-left: 15px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}
.techs h2{
    margin: 10px 30px;
    color: var(----text-color----);
    position: absolute;
}
.techs a {
    color: var(----text-color----);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 20%;
}
/* experiences-education*/

.experiences-education{
    border: 1px solid var(----container-border-----); 
    margin: 40px;
    height: 240px;
    border-radius: 4px;
}

.experiences-education {
    color: var(----text-color----);

}
.experiences-education h2{
    margin: 10px 30px;
    margin-bottom:5px;
}
.experiences-education  h3{
    margin-left: 40px;
}
.experiences-education p{
    margin-left: 60px;
    
}
footer{
    text-align: center;
    color: var(----text-color----);
}
