/*==========GERAL=========*/

:root{
   
    ----container-color-----:#07162e;
    ----text-color----:#3bd9d9;
    ----text-color-hover:#307a7a;
   
    
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background:linear-gradient(50deg,#020e26,#0c1f3b,#19313e,#071c25 ) ;
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

#fotoDiogo {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border: 3px solid var(----background-color----);
    margin-bottom: 20px;
    margin-top: 32px;
}

/*===============CONTAINER CABEÇARIO==========*/
.container-header {

    display: block;
    margin-top: 40px;
    background: var(----container-color-----);
    width: 348px;
    height: 292px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 40px;
}

.container-header h1 {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(----text-color----);
    font-weight: 800;
    font-size: 23px;
}

.container-header h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(----text-color----);
    font-weight: 600;
    font-size: 15px;

}

/*==============CONTAINER-REDES-SOCIAS-ENDEREÇO======*/
.container-endereco-socials {
    display: flex;
    margin-top: 40px;
    background: var(----container-color-----);
    width: 348px;
    height: 330px;
    border-radius: 20px;
    margin-left: 40px;

}

.container-endereco-socials-intems {
    margin: 40px 70px;

}

.container-endereco-socials-intems-intem {
    display: block;
    position: relative;
    list-style: none;
    margin-bottom: 28px;
    
}
.container-edereco-socials-icon {
    position: absolute;
    margin-left: 30px;
    margin-top: 40px;
    

}
.container-edereco-socials-icon i{
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    margin-left: 15px;
    color: var(----text-color----)
}
.container-endereco-socials-intems-intem a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(----text-color----);
    font-weight: 600;
    font-size: 14px;
    transition: all 300ms ease;
}
.container-endereco-socials-intems-intem a:hover{
    color:var(----text-color-hover);
}

/*=================CONTAINER-TECNOLOGIA=================*/

.container-tecnologias{
    display:flex;
    margin-top: 40px;
    background: var(----container-color-----);
    width: 348px;
    height: 208px;
    border-radius: 20px;
    margin-left: 40px;
}
.container-tecnologias h1{
    position: absolute;
    color: var(----text-color----);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.container-tecnologias .techs{
    list-style: none;
    margin-top: 60px;
    
    
   
}
.container-tecnologias .techs .tech{
    text-align: center;
    position: relative;
    width: 86px;
    height: 24px;
    border-radius: 30px;
    background: var(----text-color----);
    margin-top:20px ;
    margin-right: 15px;
    left: 30px;
    transition: all 300ms ease;
    
}

.container-tecnologias .techs .tech:hover{
    background:var(----text-color-hover);
    cursor: pointer;
}

.container-tecnologias .techs a{
   
    position: relative;
    justify-items: center;
    align-items: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    text-decoration: none;
    
   
     
}

/*============CONTAINER EXPERIENCIAS ==========*/
.container-experiencia{
    display:flex;
    margin-top: 40px;
    background: var(----container-color-----);
    width: 348px;
    height: 250px;
    border-radius: 20px;
    margin-left: 40px;
}
.container-experiencia h1{
    display: flex;
    position: absolute;
    color: var(----text-color----);
    margin:30px 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.container-experiencia li{
    position: absolute;
    list-style:circle;
    
    color: var(----text-color----);
    margin:80px 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.container-experiencia p{
    color: var(----text-color----);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin:105px 70px;
    font-size: 12px;
    
}

/*========Container educacao=======*/
.container-educacao{
    display:flex;
    margin-top: 40px;
    background: var(----container-color-----);
    width: 348px;
    height: 250px;
    border-radius: 20px;
    margin-left: 40px;
}


/*========Animation============*/
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}