/*==========GERAL=========*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background-color: #22212C;
}

#fotoDiogo {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border: 2px solid #00FF00;
    margin-bottom: 20px;
    margin-top: 32px;
}

/*===============CONTAINER CABEÇARIO==========*/
.container-header {

    display: block;
    margin-top: 40px;
    background: #302F3D;
    width: 348px;
    height: 292px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 40px;
}

.container-header h1 {

    font-family: 'Merriweather Sans';
    font-style: normal;
    color: #837E9F;
    font-weight: 700;
    font-size: 23px;
}

.container-header h2 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    color: #837E9F;
    font-weight: 300;
    font-size: 13px;

}

/*==============CONTAINER-REDES-SOCIAS-ENDEREÇO======*/
.container-endereco-socials {
    display: flex;
    margin-top: 40px;
    background: #302F3D;
    width: 348px;
    height: 330px;
    border-radius: 20px;
    margin-left: 40px;

}

.container-endereco-socials-intems {
    margin: 40px 70px;

}

.container-endereco-socials-intems-intem {
    display: block;
    position: relative;
    list-style: none;
    margin-bottom: 28px;
    
}
.container-edereco-socials-icon {
    position: absolute;
    margin-left: 30px;
    margin-top: 40px;
    

}
.container-edereco-socials-icon i{
    display: flex;
    flex-direction: column;
    margin-bottom: 31.6px;
    margin-left: 15px;
    color: #837E9F;
}
.container-endereco-socials-intems-intem a {
    text-decoration: none;
    font-family: 'Merriweather Sans';
    font-style: normal;
    color: #837E9F;
    font-weight: 800;
    font-size: 13px;
    transition: all 300ms ease;
}
.container-endereco-socials-intems-intem a:hover{
    color:#976E9F;
}

/*=================CONTAINER-TECNOLOGIA=================*/

.container-tecnologias{
    display:flex;
    margin-top: 40px;
    background: #302F3D;
    width: 348px;
    height: 208px;
    border-radius: 20px;
    margin-left: 40px;
}
.container-tecnologias h1{
    position: absolute;
    color: #837E9F;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.container-tecnologias .techs{
    list-style: none;
    margin-top: 60px;
    
    
   
}
.container-tecnologias .techs .tech{
    text-align: center;
    position: relative;
    width: 86px;
    height: 24px;
    border-radius: 30px;
    background: #CB92B1;
    margin-top:20px ;
    margin-right: 15px;
    left: 30px;
    transition: all 300ms ease;
    
}

.container-tecnologias .techs .tech:hover{
    background: #cc7ca8;
    cursor: pointer;
}

.container-tecnologias .techs a{
   
    position: relative;
    justify-items: center;
    align-items: center;
    color: black;
    font-family: 'Merriweather Sans';
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    
   
     
}